<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>Clement Bera</string>
	<key>description</key>
	<string>Femto Bundle</string>
	<key>name</key>
	<string>Femto</string>
	<key>uuid</key>
	<string>3599FD6E-F40D-455A-8977-F2DC7EBFE0F1</string>
</dict>
</plist>
